.imageAdjust {
  height: auto;
  width: 33px;
}

.navbar-nav > li > a {
  color: black !important;
}

ul.nav.navbar-nav {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.fontStyling {
  font-family: century;
  font-size: 20px;
}

.navbar-default {
  background-color: white !important;
  border-color: white !important;
  box-shadow: none !important;
  background-image: none !important;
}

.navbar-nav > li > a:hover {
  opacity: 0.4;
}

.imageAdjust:hover {
  opacity: 0.4;
}

.navbar-nav {
  float: none !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
