.aboutMeStyle {
  display: flex;
  flex-direction: row;
  /* align-content: space-around; */
  /* flex-wrap: wrap; */
}

/* .makeColumn {
  display: flex;
  flex-direction: column;
} */

.paragraphStyling {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
  width: 70%;
  line-height: 1.5;
  font-family: century;
  margin-left: 2%;
  margin-top: 5%;
}

.imageFormat {
  margin: 50px 30px 0 0px;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 923px) {
  .aboutMeStyle {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .imageFormat {
    margin: 20px 0 10px 0;
  }

  .paragraphStyling {
    margin-left: 15%;
    margin-top: 20px;
  }
}
