.thumbnailSize {
  width: 300px;
  height: 350px;
  min-width: 200px;
  min-height: 200px;
  margin: 30px 30px;
  vertical-align: bottom;
}

.mockImage img {
  display: flex;
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  max-width: 250px;
  padding: 15px 5px 0;
}

.text {
  font-family: century;
  /* margin-bottom: 5px; */
  /* margin-top: 0px; */
}
